@page "/emprestimo/details"
@using Microsoft.EntityFrameworkCore
@using GestaodeBiblioteca.Models.Entities
@inject IDbContextFactory<GestaodeBiblioteca.Data.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>EmprestimoDB</h2>
    <hr />
    @if (emprestimodb is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">IdUsuario</dt>
            <dd class="col-sm-10">@emprestimodb.IdUsuario</dd>
            <dt class="col-sm-2">IdLivro</dt>
            <dd class="col-sm-10">@emprestimodb.IdLivro</dd>
            <dt class="col-sm-2">DataEmprestimo</dt>
            <dd class="col-sm-10">@emprestimodb.DataEmprestimo</dd>
            <dt class="col-sm-2">DataDevolucaoPrevista</dt>
            <dd class="col-sm-10">@emprestimodb.DataDevolucaoPrevista</dd>
            <dt class="col-sm-2">DataDevolucaoEfetiva</dt>
            <dd class="col-sm-10">@emprestimodb.DataDevolucaoEfetiva</dd>
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@emprestimodb.Status</dd>
        </dl>
        <div>
            <a href="@($"/emprestimo/edit?id={emprestimodb.Id}")">Edit</a> |
            <a href="@($"/emprestimo")">Back to List</a>
        </div>
    }
</div>

@code {
    private EmprestimoDB? emprestimodb;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        emprestimodb = await context.Emprestimo.FirstOrDefaultAsync(m => m.Id == Id);

        if (emprestimodb is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
